<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="container.modules" type="Content.Sync.Infrastructure.ModuleSettingsSection, Content.Sync.Infrastructure" />
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  
  
  <!-- module configurations -->
  <container.modules>
    <modules>
      <add name="clarifi" type="Content.Sync.Clarifi.ModuleInitializer, Content.Sync.Clarifi" />
    </modules>
  </container.modules>
</configuration>