<configuration>
  <configSections>
    <section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Aliases -->
    <!-- example 
		<alias alias="nameA" type="typeA" />
		<alias alias="nameB" type="typeB" />
		-->
    <!-- Type mappings -->
    <container>
      <!-- example 
			<register type="nameA" mapTo="nameB"	/>
			-->
    </container>
  </unity>
</configuration>